@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

#Container{
    height: 100%;
    width: auto;
    padding: 0.5rem; 
    margin: 10rem;
    justify-content: center;
    align-items: center;
    display: flex;
}
.Card{
    margin:  0;
    height: 40ch;
    width: 40vh;
    color:  hsla(0, 0%, 100%, 0.75);
    
}
    h1{
        margin-left: 1.2rem;
        font-family: 'Big Shoulders Display';
    }
    p{
        font-family:'Lexend_Deca';
        margin: 1.2rem;
        text-align: justify;
        font-size: small;
    }

    a{
        text-decoration: none;
        background-color:  hsla(0, 0%, 100%, 0.75);
        margin: 1.2rem 1.2rem;
        padding-top: 0.8rem;
        width: 10rem;
        height: 2.5rem;
        border-radius: 30px;
        display: block;
        text-align: center;
        font-family: 'Big Shoulders Display';
        color:  hsla(0, 0%, 100%, 0.75);
    }
#one, a{
    color:hsl(31, 77%, 52%);
}
#two, a{
    color:hsl(184, 100%, 22%);;
}
#three, a{
    color:hsl(179, 100%, 13%);
}
#first{
    background: hsl(31, 77%, 52%);
    border-radius: 2% 0 0 2%;
}

#second{
    background: hsl(184, 100%, 22%);
}

#third{
    background: hsl(179, 100%, 13%);
    border-radius: 0 2% 2% 0;
}

img{
    padding-top: 1rem;
    margin-left: 1rem;
}

@media (max-width: 1440px) {
    #Container{
        flex-direction: row; 
   }
}
@media (max-width: 374px){
    #Container{
        flex-direction: column; 
    }
}